language: node_js
node_js:
- lts/*
env:
  global:
    secure: HJk3u1297AO9p6GAlvQIeZQxal0FEqBIC9lGpyCUuMuISnnO6maOuYJqcmpeec0zylp7VZNzrubjSkETxhFoBTpSuffQb92biBGG3FVU5stsLARSgWUGWS/HpFY1HcofFZNi1Lsq/eXMyM6LZVPiYZPdetCJaoPBSp3MJOclHULqhizNI5NEVgnqAVgZv3Qka5jNxkYY6VYLZQcTBqgn/1Ya/4mrC2UQJ1fSn1cSZEhx0s2IBU7zHztTzeWzlXo7vtepEniKUnskg9t+kMPV4ku4lOfamooWK2bTzI2ix482vbQQrLJcu28QGh8PvKEmMrY+DqVkm7MHK5qHebApRDgifbsFPjzOH9MfHOax4mMny6w+8K1HqZMZtTgsfGNe/L+rDVy8rYVyAD+Me9X5u/cZ5BnPhZffmZFbwsqGrBbTyV0odL94D+Wx8PkweWObZfCrFfMm4/0jJD/ifHV+H+CkTZDmJN8TsCaNurjJ+migvKqohviYXz3lU9b1BSS+7C/7zHAZnkQQSYUpSgSwscxUJP074IIjlDLd5gxzMHrcMgPRyoHC2sYO9c0uLC5T7FC7EM+Ej/TKz7oeynXKubwidboDj+xGeMLnhLRuq29EGfvHpY8x1rZWELUAJa+x5CpHkE0aXdQaR2B+04zfFOmh1KkvF5shFi4EX58UY1w=
